USE [master]
GO
/****** Object:  Database [stagin]    Script Date: 26/6/2024 09:32:48 ******/
CREATE DATABASE [stagin]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'stagin_empleados', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\stagin_empleados.mdf' , SIZE = 991232KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'stagin_empleados_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\stagin_empleados_log.ldf' , SIZE = 1253376KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [stagin].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [stagin]
GO
/****** Object:  Table [dbo].[billing]    Script Date: 26/6/2024 09:32:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[billing](
	[BILLING_ID] [int] NOT NULL,
	[id_sistema_origen] [varchar](50) NOT NULL,
	[REGION] [varchar](50) NOT NULL,
	[BRANCH_ID] [varchar](50) NOT NULL,
	[DATE] [datetime] NOT NULL,
	[CUSTOMER_ID] [int] NOT NULL,
	[EMPLOYEE_ID] [int] NOT NULL,
	[PRODUCT_ID] [int] NOT NULL,
	[QUANTITY] [int] NOT NULL,
	[sistema_origen] [varchar](50) NOT NULL,
	[fecha_sin_hora] [date] NOT NULL,
	[hora] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 26/6/2024 09:32:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CUSTOMER_ID] [int] NULL,
	[FULL_NAME] [varchar](50) NULL,
	[BIRTH_DATE] [date] NULL,
	[CITY] [varchar](50) NULL,
	[STATE] [varchar](50) NULL,
	[ZIPCODE] [varchar](50) NULL,
	[TIPO_CLIENTE] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[empleados_txt]    Script Date: 26/6/2024 09:32:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empleados_txt](
	[codigo_empleado] [int] NOT NULL,
	[Nombre_Completo] [varchar](50) NOT NULL,
	[fecha_ingreso] [date] NOT NULL,
	[fecha_nacimiento] [date] NOT NULL,
	[nivel_educacional] [varchar](50) NOT NULL,
	[genero] [varchar](50) NOT NULL,
	[categoria] [varchar](50) NOT NULL,
	[fecha_desde_version] [date] NOT NULL,
	[numero_version] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fechas]    Script Date: 26/6/2024 09:32:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fechas](
	[Fecha] [date] NOT NULL,
	[dia] [int] NOT NULL,
	[dia_semana] [varchar](50) NOT NULL,
	[mes] [int] NOT NULL,
	[Nombre_mes] [varchar](50) NOT NULL,
	[año] [int] NOT NULL,
	[trimestre] [int] NOT NULL,
	[semestre] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products_txt]    Script Date: 26/6/2024 09:32:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products_txt](
	[Codigo_producto] [int] NULL,
	[Nombre_producto] [varchar](50) NULL,
	[envase_tamaño] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Temp_Empleados]    Script Date: 26/6/2024 09:32:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temp_Empleados](
	[EmployeeID] [int] NOT NULL,
	[Nombre_completo] [varchar](50) NOT NULL,
	[CATEGORY] [varchar](50) NOT NULL,
	[BIRTH_DATE] [date] NOT NULL,
	[EMPLOYMENT_DATE] [date] NOT NULL,
	[EDUCATION_LEVEL] [varchar](50) NOT NULL,
	[GENDER] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_billing_branch]    Script Date: 26/6/2024 09:32:48 ******/
CREATE NONCLUSTERED INDEX [idx_billing_branch] ON [dbo].[billing]
(
	[BRANCH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_billing_customer]    Script Date: 26/6/2024 09:32:48 ******/
CREATE NONCLUSTERED INDEX [idx_billing_customer] ON [dbo].[billing]
(
	[CUSTOMER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_billing_customer_id]    Script Date: 26/6/2024 09:32:48 ******/
CREATE NONCLUSTERED INDEX [idx_billing_customer_id] ON [dbo].[billing]
(
	[CUSTOMER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_billing_date]    Script Date: 26/6/2024 09:32:48 ******/
CREATE NONCLUSTERED INDEX [idx_billing_date] ON [dbo].[billing]
(
	[DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_billing_employee]    Script Date: 26/6/2024 09:32:48 ******/
CREATE NONCLUSTERED INDEX [idx_billing_employee] ON [dbo].[billing]
(
	[EMPLOYEE_ID] ASC,
	[DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_billing_employee_id]    Script Date: 26/6/2024 09:32:48 ******/
CREATE NONCLUSTERED INDEX [idx_billing_employee_id] ON [dbo].[billing]
(
	[EMPLOYEE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_billing_product_date]    Script Date: 26/6/2024 09:32:48 ******/
CREATE NONCLUSTERED INDEX [idx_billing_product_date] ON [dbo].[billing]
(
	[PRODUCT_ID] ASC,
	[DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_billing_product_id]    Script Date: 26/6/2024 09:32:48 ******/
CREATE NONCLUSTERED INDEX [idx_billing_product_id] ON [dbo].[billing]
(
	[PRODUCT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_billing_region]    Script Date: 26/6/2024 09:32:48 ******/
CREATE NONCLUSTERED INDEX [idx_billing_region] ON [dbo].[billing]
(
	[REGION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_billing_BILLING_ID]    Script Date: 26/6/2024 09:32:48 ******/
CREATE NONCLUSTERED INDEX [IX_billing_BILLING_ID] ON [dbo].[billing]
(
	[BILLING_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_billing_DATE_CUSTOMER_ID_EMPLOYEE_ID]    Script Date: 26/6/2024 09:32:48 ******/
CREATE NONCLUSTERED INDEX [IX_billing_DATE_CUSTOMER_ID_EMPLOYEE_ID] ON [dbo].[billing]
(
	[DATE] ASC,
	[CUSTOMER_ID] ASC,
	[EMPLOYEE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_billing_PRODUCT_ID_DATE]    Script Date: 26/6/2024 09:32:48 ******/
CREATE NONCLUSTERED INDEX [IX_billing_PRODUCT_ID_DATE] ON [dbo].[billing]
(
	[PRODUCT_ID] ASC,
	[DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [master]
GO
